.carousel .carousel-indicators button { background-color: #68BDB8; border: 2px solid #198683; width: 10px; height: 10px; border-radius: 50%; }
.carousel-indicators { margin-bottom: 0.5rem; }
.carousel-control-prev-icon, .carousel-control-next-icon { background-color: black; border-radius: 50%; opacity: 0.3;}