.colores-paleta-01 { background-color: #093246; }
.colores-paleta-02 { background-color: #284D5D; }
.colores-paleta-03 { background-color: #198683; }
.colores-paleta-04 { background-color: #68BDB8; }
.colores-paleta-05 { background-color: #F3EDE1; }

body { color: #284D5D; }
h1 { color: #093246; }
p { color: #284D5D; }
img { width: 100px; height: 100px; }