.colores-paleta-01 { background-color: #093246; }
.colores-paleta-02 { background-color: #284D5D; }
.colores-paleta-03 { background-color: #198683; }
.colores-paleta-04 { background-color: #68BDB8; }
.colores-paleta-05 { background-color: #68BDB8; }

body { color: #284D5D; }
h1 { color: #093246; }
p { color: #284D5D; }
img { width: 100px; height: 100px; }

.navbar.bg-body-tertiary-perfil {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    min-height: 20px;
} 